{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
<span class="tags">
	
   <!-- hard-coding tags
   		{% for tax,value in taxlist[taxonomy] %}
        {% set label_class = uri.param(taxonomy) == tax ? 'label-primary' : 'label-secondary' %}
        <a class="label label-rounded {{ label_class }}" href="/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
    {% endfor %}
     -->
    <a class="label label-rounded label-secondary" href="{{ base_url }}#tag"> ALL </a>
    <a class="label label-rounded {{ label_class }}" href="{{ base_url }}/tag:building#tag">building</a>
 	<a class="label label-rounded {{ label_class }}" href="{{ base_url }}/tag:thinking#tag">thinking</a>
    <a class="label label-rounded {{ label_class }}" href="{{ base_url }}/tag:writing#tag">writing</a>
    <a class="label label-rounded {{ label_class }}" href="{{ base_url }}/tag:teaching#tag">teaching</a>
{% endif %}
