{% extends 'partials/base.html.twig' %}

{% set show_sidebar = header_var('show_sidebar')|default(true) %}

{% set collection = page.collection() %}




{% block content %}
 {{ page.content }}
	{% embed 'partials/layout.html.twig' with {blog: page} %}
		{% block sidebar %}
                {% include 'partials/projectsidebar.html.twig' %}
		{% endblock %}
	{% endembed %}

   
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 100 }'>


  {{ instagram_feed() }}
  
    
    {% for page in page.collection %}

        {% if page.visible %}

        	<div class ="grid-item">
           
            {% if page.media.files %}     
            {% set first_image = page.media.files|first %}
                {{first_image.thumbnail('page').html}}
            {% else %}
        		{% set first_image = page.media.images|first %}
                {{first_image.thumbnail('page').html}}
            {% endif %}

             <div class="projtitle">
                    <a href="{{ page.url }}">{{page.menu}}</a>
                </div>
       
            </div>
        {% endif %}
        
    {% endfor %}

    	
	
	</div>

	<script>

    function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
  }


  $('.grid-item').each(function(){
    if (getRandomInt(0,10) <= 3) {
        $(this).addClass('large');
      } else {
        $(this).addClass('small');
      }
        $(this).css({'marginTop' : getRandomInt(-40,40), 'marginLeft' : getRandomInt(-40,40)});
      });

      var $grid = $('.grid').masonry({
      });

      $grid.imagesLoaded().progress( function() {
  		$grid.masonry('layout');

 



  
});

  
  </script>

{% endblock %}




