{% extends 'partials/base.html.twig' %}

{% set related = page.collection() %}

{% block content %}
<div id="projpcontainer">
  <div id="projpleft">
    {% for image in page.media.all %}

         <a href="{{ image.url(false) }}">
           <img src="{{ image.url }}"/>
        </a>
    {% endfor %} 
    {{ page.content }}

     <div id="relatedcontainer">
      <p> Related Work </p>
      <ul>
      
        {% set random_related = related.random(2) %}
        {% for page in random_related %}
          {% if page.visible %}
            {% for image in page.media.all %}
                {% set extension = image.url|split('/')|last %}  
                {% if extension|contains('thumb2') %}
                  <li>
                    <a href="{{page.url}}">
                      {{ image.html }}
                    </a>
                {% endif %}
            {% endfor %}
            <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
      </div>
</div>
<script>
jQuery(document).ready(function($) {
  $('#projpright').hcSticky({
    stickTo: '#projpcontainer'
  });
  });
</script>
{% endblock %}
