{% extends 'partials/base.html.twig' %}

{% set related = page.collection() %}

{% block content %}
<div id="projpcontainer">
  <div id="projpleft">
    {% for image in page.media.all %}

         <a href="{{ image.url(false) }}">
           <img src="{{ image.url }}"/>
        </a>
    {% endfor %} 
    {{ page.content }}

     <div id="relatedcontainer">
      <p> Related Work </p>
      <ul>
      {% set random_related = related.random(2) %}
        {% for page in random_related %}
          {% set first_image = page.media.all|first %}
          <li><a href="{{ page.url }}">
            {{first_image.thumbnail('page').display('thumbnail').resize(150, 75)}}

          </a>
          <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
      </div>
</div>
<script>
jQuery(document).ready(function($) {
  $('#projpright').hcSticky({
    stickTo: '#projpcontainer'
  });
  });
</script>
{% endblock %}
