{% extends 'partials/base.html.twig' %}

{% set related = page.collection() %}

{% block content %}
<div id="projpcontainer">
  <div id="projpleft">



    {% for image in page.media.all %}
      {% set extension = image.url|split('/')|last %}  
                {% if extension|contains('thumb') %}

                {% else %}

    <div class="hideme">
       
           {{ image.html }}
    
        </a>
    </div>
  {% endif %}
    {% endfor %}
  
    {{ page.content }}

     <div id="relatedcontainer">
      <p> Related Work </p>
      <ul>
      
        {% set random_related = related.random(2) %}
        {% for page in random_related %}
          {% if page.visible %}
            {% for image in page.media.all %}
                {% set extension = image.url|split('/')|last %}  
                {% if extension|contains('thumb2') %}
                  <li>
                    <a href="{{page.url}}">
                      {{ image.html }}
                    </a>
                {% endif %}
            {% endfor %}
            <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
      </div>
</div>
<script>
jQuery(document).ready(function($) {
  $('#projpright').hcSticky({
    stickTo: '#projpcontainer'
  });

    $(window).scroll( function(){
        $('.hideme').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height() + 300;
            if( bottom_of_window > bottom_of_object){
                $(this).addClass('showme');
            }
            if( bottom_of_window < bottom_of_object ){
                $(this).removeClass('showme');
            }
        });
    });
});
</script>
{% endblock %}
